<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../favicon.ico" alt="Bootstrap" class="d-inline-block align-text-top">
      </a>
      <div class="d-flex">
        <div ng-hide="true">
            <button type="button" class="btn btn-primary btn-sm">Iniciar sesion</button>
            <button type="button" class="btn btn-primary btn-sm">Registrarse</button>
        </div>
        <a><img src="../../../favicon.ico" alt="Bootstrap" class="rounded-circle float-end"></a>
      </div>
    </div>
</nav>