<h3 class="mt-3">Dessert</h3>
<div class="border border-primary border-2 rounded my-4 py-5">
  <dl>
      <dt *ngFor="let ingredient of dessert; let i = index">
        {{ingredient.ingredient + " " + ingredient.description}}
        <input type="button" value="X" class="btn btn-secondary" 
        style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .50rem;"
        (click)="deleteProduct(ingredient)">
        <input type="button" value="E" class="btn btn-secondary" 
        style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .3rem; --bs-btn-font-size: .50rem;"
        (click)="updateProduct(ingredient)">
      </dt>
      
  </dl>
</div>

<form class="row g-3">
  <div class="col-auto">
      <input type="text" class="form-control" id="product" placeholder="Product" #ingredient>
      <input type="text" class="form-control" id="description" placeholder="Descripcion" #description>
  </div>
  <div class="col-auto">
      <input type="button" value="Add product" class="btn btn-primary mb-3" (click)="addProduct(ingredient, description)"/>
  </div>
</form>